body{
    background-color: var(--bg-color);
}
.page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar{
    margin-bottom: 5px;
    padding: 1.3rem var(--spacing3) 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.brand-name{
    font-size: var(--fs3);
}
/* searchbar */
.search-bar{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--primary-color);
}

.search-bar i{
    margin-left: 4px;
    color: gray;
}
.search-bar input{
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    border: none;
    
}
.search-bar-desktop{
    display: none;
}
.navbar a {
    text-decoration: none;
    color: var(--primary-color);
}
.navbar a h1{
    display: inline;
    margin-left: var(--spacing3);
    padding:1rem 0.5rem 1rem 0;
}

.action-icons{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: var(--spacing6);
    margin-right: 10px;
}
.action-icons .icon-container{
    font-size: 1rem;
}
.action-icons .icons{
    padding: 0.5rem;
}

/* main content */
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: larger;
}

/* hero image */
.hero-img{
    width: 100%;
    min-height: 15rem;
    margin-top: var(--spacing4);
    position: relative;
}

.hero-img .card-container{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width:11rem;
    font-size: small;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    transform: translate(-50%,-50%);
}
.hero-img .card-container h1{
    font-size: 1rem;
}
.hero-img .card-container .btn-primary{
    padding: 0.2rem .4rem;
    font-size: 1rem;
}
.hero-img p{
    display: none;
}
.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section-title{
    margin-top: 1rem;
    text-align: center;
    border-bottom: 1px solid gainsboro;
}
/* Promotional */
.promotional-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.promotional-section .card-vertical{
    width: 10.5rem;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: .8rem;
    margin-right: 9.75px;
    margin-left: 9.75px;
    padding-bottom: .5rem;
}
/* promotional cards */
.promotional-section .product-img-box{
    height: auto;
    width: 100%;
}
.product-img-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.promotional-section .card-title{
    font-size: var(--fs4);
    text-align: center;
}
.promotional-section a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    text-align: right;
    margin-right: 4px;
}
.promotional-section a:hover{
    color: gray;
}

.card-description{
    display: none;
}

/* categories*/
.categories .product-img-box{
    position: relative;
}
.categories .card-container .product-img-box h1{
    bottom: 0;
    left: 50%;
    right: 50%;
}

.categories .card-container{
    padding-bottom: 0;
}
.categories .card-container .btn{
    color: white;
    text-align: center;
}
.categories a{
    margin: 0;
}


/* media queries */


@media screen and (min-width:600px) {
    .action-icons .icon-container{
        font-size: 1.2rem;
        gap: 20px;
    }
    /* promotional cards */
    .promotional-section .card-vertical{
     width: 12rem;
    }
}


@media screen and (min-width:750px) {
    .action-icons .icon-container{
        font-size: 1.6rem;
        
    }
    .action-icons{
        gap: 1.2rem;
    }
    .brand-name{
        font-size: var(--fs2);
    }
    .hamburger-menu{
        font-size: 1.4rem;
    }
    ::placeholder{
        font-size: 1rem;
    }
    .search-bar input{
        padding: 1rem;
    }
    .search-bar i{
        font-size: 1.3rem;
    }
    /* hero img */
    .hero-img .card-container{
        width: 20rem;
    }
    .hero-img .card-container h1{
        font-size: 1.4rem;
    }
    .hero-img .card-container p{
        font-size: 1.2rem;
        display: block;
    }
    .hero-img .card-container .btn-primary{
        padding: 0.5rem 0.7rem;
        font-size: 1.2rem;
    }

}


@media screen and (min-width:1100px) {
    .page-container{
        width: 80%;
        margin: 0 auto;
    }
    .search-bar{
        display: none;
    }
    .search-bar-desktop{
        display: flex;
        align-items: center;
        background-color: white;
        margin-top: 10px;
        margin-left: auto;
        border: 1px solid gainsboro;

    }
    .search-bar-desktop input{
        border: none;
        padding: 10px;
        width: 24rem;
    }
    .search-bar-desktop i {
        margin-left: 3px;
        color: gray;
    }
    .search-bar-desktop input:focus{
        outline: none;
    }
    /* card-section */
    .promotional-section .card-vertical{
        width: 17rem;
    }
    .promotional-section .card-vertical .card-title{
        font-size: var(--fs3);
        margin-bottom: 2rem;
    }
    .card-vertical .card-description{
        text-align: center;
        display: block;
    }
}