
.page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar{
    margin-bottom: 5px;
    padding: 1.3rem var(--spacing3) ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.brand-name{
    font-size: var(--fs3);
}
/* searchbar */
.search-bar{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--primary-color);
}

.search-bar i{
    margin-left: 4px;
    color: gray;
}
.search-bar input{
    padding: 10px 10px;
    border-radius: 2px;
    width: 100%;
    border: none;
    
}
.search-bar-desktop{
    display: none;
}
/* hamburger menu */
.hamburger-menu{
    padding: 0 0.5rem 0 0;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: var(--primary-color);
}
.navbar a h1{
    display: inline;
    margin-left: var(--spacing3);
    padding:1rem 0.5rem 1rem 0;
}

.action-icons{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: var(--spacing6);
    margin-right: 10px;
}
.action-icons .icon-container{
    font-size: 1rem;
}
.action-icons .icons{
    padding: 0.5rem;
}

/* main content */
.main-content{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    font-size: larger;
    /* border: 1px solid black; */
}
/* wishlist */
.wishlist-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wishlist-section .product-card{
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    margin-right: 9.75px;
    margin-left: 9.75px;
    padding-bottom: 0.5rem;
}

.wishlist-section .product-card .btn{
    font-size: 1rem;
}





/* media queries */


@media screen and (min-width:600px) {
    .action-icons .icon-container{
        font-size: 1.2rem;
        gap: 20px;
    }
     /* wishlist cards */
     .wishlist-section .product-card{
        width: 12rem;
       }
}


@media screen and (min-width:750px) {
    .action-icons .icon-container{
        font-size: 1.6rem;
        
    }
    .action-icons{
        gap: 1.2rem;
    }
    .brand-name{
        font-size: var(--fs2);
    }
    .hamburger-menu{
        font-size: 1.4rem;
    }
    ::placeholder{
        font-size: 1rem;
    }
    .search-bar input{
        padding: 1rem;
    }
    .search-bar i{
        font-size: 1.3rem;
    }
}


@media screen and (min-width:1100px) {
    .page-container{
        width: 80%;
        margin: 0 auto;
    }
    .search-bar{
        display: none;
    }
    .search-bar-desktop{
        display: flex;
        align-items: center;
        background-color: white;
        margin-top: 10px;
        margin-left: auto
    }
    .search-bar-desktop input{
        border: none;
        padding: 10px;
        width: 24rem;
    }
    .search-bar-desktop i {
        margin-left: 3px;
        color: gray;
    }
    .search-bar-desktop input:focus{
        outline: none;
    }
    /* card-section */
    .wishlist-section .product-card{
        width: 22rem;
    }
    .wishlist-section .product-card .card-title{
        font-size: var(--fs3);
        margin-bottom: 2rem;
    }
    .wishlist-section .product-card .btn{
        font-size: 1.2rem;
    }
    
}