body{
    padding-bottom: 30rem;
}
.page-container{
    display: flex;
    flex-direction: column;
    height:100vh;
}

.breakr-top{
    border-top: 1px solid gainsboro;
}
nav{
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--bg-color);
}

.navbar{
    margin-bottom: 5px;
    padding: 1.3rem var(--spacing3) ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(207, 207, 207);
    
}
.brand-name{
    font-size: var(--fs3);
}
/* searchbar */
.search-bar{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--primary-color);
}

.search-bar i{
    margin-left: 4px;
    color: gray;
}
.search-bar input{
    padding: 10px 10px;
    border-radius: 2px;
    width: 100%;
    border: none;
    
}
.search-bar-desktop{
    display: none;
}

.navbar a {
    text-decoration: none;
    color: var(--primary-color);
}
.navbar a h1{
    display: inline;
    margin-left: var(--spacing3);
    padding:1rem 0.5rem 1rem 0;
}

.action-icons{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: var(--spacing6);
    margin-right: 10px;
}
.action-icons .icon-container{
    font-size: 1rem;
}
.action-icons .icons{
    padding: 0.5rem;
}

.page-title{
    text-align: center;
    font-size: var(--fs1);
    margin-bottom: 1rem;
}

/* main content */
.main-content{
    display: flex;
    flex-direction: column;
    padding: var(--spacing3);
    align-items: center;
    height: 100%;
    font-size: larger;
}

/* cart-total */
.cart-total{
    margin-top: 2rem;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}
.cart-total h1{
    font-size: var(--fs2);
    border-bottom: 1px solid gainsboro;
}
.cart-total h2{
    font-size: var(--fs3);
    display: inline-block;
}
.pricing-details{
    display: flex;
    border-bottom: 1px solid gainsboro;
    justify-content: space-evenly;
}
.product-names{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}
.product-prices{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.cart-total .btn{
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
}

/* cart items */
.main-content .cart-item{
    border-radius: 0;
    padding: 0;
    flex-direction: row;
    gap: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.cart-item .img-box{
    width: 11rem;
}
.cart-item .img-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.cart-item .card-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.cart-item .card-title , .cart-item .card-subtitle, .cart-item label ,.cart-item select {
    margin-left: var(--spacing3);
}
.cart-item select{
    max-width: 2.3rem;
}
.cart-item .card-description{
    display: none;
}
.cart-item h1{
    margin-top: var(--spacing3);
    font-size: var(--fs4);
}
.cart-item .card-detail .btn{
    font-size: 0.9rem;
}


/* media queries */


@media screen and (min-width:600px) {
    .form-container{
        width: 24rem;
    }
    .action-icons .icon-container{
        font-size: 1.2rem;
        gap: 1.25rem;
    }
}


@media screen and (min-width:750px) {
    .action-icons .icon-container{
        font-size: 1.6rem;
        
    }
    .action-icons{
        gap: 1.2rem;
    }
    .brand-name{
        font-size: var(--fs2);
    }
    .hamburger-menu{
        font-size: 1.4rem;
    }
    ::placeholder{
        font-size: 1rem;
    }
    .search-bar input{
        padding: 1rem;
    }
    .search-bar i{
        font-size: 1.3rem;
    }

    /* cart items */
    .cart-total .product-names, .cart-total .product-prices{
        font-size: 1.5rem;
    }
    .main-content .card-container{
        width: 31rem;
    }
    .main-content .img-box{
        width: 20rem ;
    }
    .main-content .card-detail{
        width: 100%;
    }
    .cart-item .card-title{
        font-size: 1.5rem;
    }
    .main-content .cart-item .btn{
        font-size: 1.2rem;
    }
}


@media screen and (min-width:1100px) {
    html{
        font-size: 1.15rem;
    }
    .page-container{
        width: 80%;
        margin: 0 auto;
    }
    .search-bar{
        display: none;
    }
    .search-bar-desktop{
        display: flex;
        align-items: center;
        background-color: white;
        margin-top: 10px;
        margin-left: auto;
        border: 1px solid gainsboro;
    }
    .search-bar-desktop input{
        border: none;
        padding: 10px;
        width: 24rem;
    }
    .search-bar-desktop i {
        margin-left: 3px;
        color: gray;
    }
    .search-bar-desktop input:focus{
        outline: none;
    }
    /* cart items */
    .main-content .cart-total{
        width: 30%;
        position: absolute;
        align-self: flex-end;
    }
    .main-content .cart-item{
        width: 55%;
        align-self: flex-start;
    }
    .main-content .cart-item .img-box{
        width: 28rem;
    }
    .cart-item .card-detail select{
        font-size: 1rem;
    }
    .cart-item .card-detail h1,.cart-item .card-detail p,.cart-item .card-detail h2, .cart-item .card-detail label{
        margin-left: 1rem;
    }
    
    .cart-item .card-detail h1{
        font-size: 1.6rem;
    }
    .cart-item .card-detail h2{
        font-size: 2.2rem;
    }
    .cart-item .card-detail p{
        display: block;
    }
}